USE [BigPackBase]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
	[ID] [int] NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[Adress] [nvarchar](50) NOT NULL,
	[INN] [int] NOT NULL,
	[KPP] [int] NOT NULL,
	[IDAgentType] [int] NOT NULL,
	[IDDirectorName] [int] NOT NULL,
	[Phone] [nchar](30) NOT NULL,
	[Logotype] [nvarchar](1000) NULL,
	[IDPriority] [int] NOT NULL,
	[IDPointsOfSales] [int] NOT NULL,
	[IDRole] [nchar](1) NOT NULL,
 CONSTRAINT [PK_Agent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgentType]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentType](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AgentType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DirectorName]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectorName](
	[ID] [int] NOT NULL,
	[DirectorFullName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DirectorName] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Patrinymic] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[PassportSerias] [int] NOT NULL,
	[PassportNumber] [int] NOT NULL,
	[IssuedBy] [nvarchar](50) NOT NULL,
	[Adress] [nvarchar](50) NOT NULL,
	[BankDetails] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[IDRole] [nchar](1) NOT NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[IDMaterialsType] [int] NOT NULL,
	[Image] [nvarchar](1000) NOT NULL,
	[Cost] [money] NOT NULL,
	[QuantityStock] [int] NOT NULL,
	[Minimum] [int] NOT NULL,
	[CountPackage] [int] NOT NULL,
	[IDUnit] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialsSupplier]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialsSupplier](
	[ID] [int] NOT NULL,
	[IDMaterials] [int] NOT NULL,
	[IDSupplier] [int] NOT NULL,
 CONSTRAINT [PK_MaterialsSupplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialsType]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialsType](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MaterialsType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointsOfSales]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointsOfSales](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PointsOfSales] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priority]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priority](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Priority] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Code] [nchar](1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[IDSupplierType] [int] NOT NULL,
	[INN] [int] NOT NULL,
	[RatingQuality] [int] NOT NULL,
	[StartDate] [date] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierType]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierType](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SupplierType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 13.02.2022 18:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IDRole] [nchar](1) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Agent] ([ID], [CompanyName], [Adress], [INN], [KPP], [IDAgentType], [IDDirectorName], [Phone], [Logotype], [IDPriority], [IDPointsOfSales], [IDRole]) VALUES (1, N'вапыва', N'ывапываыва', 35465634, 3536345, 1, 1, N'34234523                      ', NULL, 1, 1, N'g')
GO
INSERT [dbo].[AgentType] ([ID], [Title]) VALUES (1, N'ОАО')
INSERT [dbo].[AgentType] ([ID], [Title]) VALUES (2, N'ОО')
INSERT [dbo].[AgentType] ([ID], [Title]) VALUES (3, N'Самозанятый')
GO
INSERT [dbo].[DirectorName] ([ID], [DirectorFullName]) VALUES (1, N'Иванов иваиванович')
GO
INSERT [dbo].[Employees] ([ID], [Firstname], [Lastname], [Patrinymic], [DateOfBirth], [PassportSerias], [PassportNumber], [IssuedBy], [Adress], [BankDetails]) VALUES (1, N'wertwer', N'wergwertg', N'wwergwer', CAST(N'2001-11-11' AS Date), 23423234, 234234, N'wrtsdftgw', N'wertgwegw', 323432234)
GO
INSERT [dbo].[Materials] ([ID], [Title], [IDMaterialsType], [Image], [Cost], [QuantityStock], [Minimum], [CountPackage], [IDUnit]) VALUES (1, N'Гранулы белый 2x2', 1, N'\materials\picture.png', 47680.0000, 76, 8, 7, 1)
INSERT [dbo].[Materials] ([ID], [Title], [IDMaterialsType], [Image], [Cost], [QuantityStock], [Minimum], [CountPackage], [IDUnit]) VALUES (2, N'Нить серый 1x0', 2, N'\materials\picture.png', 27456.0000, 978, 42, 1, 2)
INSERT [dbo].[Materials] ([ID], [Title], [IDMaterialsType], [Image], [Cost], [QuantityStock], [Minimum], [CountPackage], [IDUnit]) VALUES (3, N'Нить белый 1x3', 3, N'\materials\picture.png', 2191.0000, 406, 27, 8, 2)
GO
INSERT [dbo].[MaterialsType] ([ID], [Title]) VALUES (1, N'Гранулы')
INSERT [dbo].[MaterialsType] ([ID], [Title]) VALUES (2, N'Краски')
INSERT [dbo].[MaterialsType] ([ID], [Title]) VALUES (3, N'Нитки')
GO
INSERT [dbo].[PointsOfSales] ([ID], [Title]) VALUES (1, N'розничные магазины')
INSERT [dbo].[PointsOfSales] ([ID], [Title]) VALUES (2, N'интернет магазины')
GO
INSERT [dbo].[Priority] ([ID], [Title]) VALUES (1, N'есть')
INSERT [dbo].[Priority] ([ID], [Title]) VALUES (2, N'нет')
GO
INSERT [dbo].[Role] ([Code], [Title]) VALUES (N'a', N'admin')
INSERT [dbo].[Role] ([Code], [Title]) VALUES (N'g', N'agent')
INSERT [dbo].[Role] ([Code], [Title]) VALUES (N'm', N'manager')
GO
INSERT [dbo].[Supplier] ([ID], [Title], [IDSupplierType], [INN], [RatingQuality], [StartDate]) VALUES (1, N'ГаражТелекомГор', 1, 1718185951, 36, NULL)
INSERT [dbo].[Supplier] ([ID], [Title], [IDSupplierType], [INN], [RatingQuality], [StartDate]) VALUES (2, N'Компания Омск', 2, 1878504395, 2, NULL)
INSERT [dbo].[Supplier] ([ID], [Title], [IDSupplierType], [INN], [RatingQuality], [StartDate]) VALUES (3, N'ГорМонтаж', 3, 1564667734, 79, NULL)
GO
INSERT [dbo].[SupplierType] ([ID], [Title]) VALUES (1, N'МКК')
INSERT [dbo].[SupplierType] ([ID], [Title]) VALUES (2, N'ОАО')
INSERT [dbo].[SupplierType] ([ID], [Title]) VALUES (3, N'ООО')
GO
INSERT [dbo].[Unit] ([ID], [Title]) VALUES (1, N'л')
INSERT [dbo].[Unit] ([ID], [Title]) VALUES (2, N'м')
INSERT [dbo].[Unit] ([ID], [Title]) VALUES (3, N'кг')
GO
INSERT [dbo].[User] ([ID], [Username], [Password], [IDRole]) VALUES (1, N'admin', N'admin', N'a')
INSERT [dbo].[User] ([ID], [Username], [Password], [IDRole]) VALUES (2, N'manager', N'manager', N'm')
INSERT [dbo].[User] ([ID], [Username], [Password], [IDRole]) VALUES (3, N'agent', N'agent', N'g')
GO
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD  CONSTRAINT [FK_Agent_AgentType] FOREIGN KEY([IDAgentType])
REFERENCES [dbo].[AgentType] ([ID])
GO
ALTER TABLE [dbo].[Agent] CHECK CONSTRAINT [FK_Agent_AgentType]
GO
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD  CONSTRAINT [FK_Agent_DirectorName] FOREIGN KEY([IDDirectorName])
REFERENCES [dbo].[DirectorName] ([ID])
GO
ALTER TABLE [dbo].[Agent] CHECK CONSTRAINT [FK_Agent_DirectorName]
GO
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD  CONSTRAINT [FK_Agent_PointsOfSales] FOREIGN KEY([IDPointsOfSales])
REFERENCES [dbo].[PointsOfSales] ([ID])
GO
ALTER TABLE [dbo].[Agent] CHECK CONSTRAINT [FK_Agent_PointsOfSales]
GO
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD  CONSTRAINT [FK_Agent_Priority] FOREIGN KEY([IDPriority])
REFERENCES [dbo].[Priority] ([ID])
GO
ALTER TABLE [dbo].[Agent] CHECK CONSTRAINT [FK_Agent_Priority]
GO
ALTER TABLE [dbo].[Agent]  WITH CHECK ADD  CONSTRAINT [FK_Agent_Role] FOREIGN KEY([IDRole])
REFERENCES [dbo].[Role] ([Code])
GO
ALTER TABLE [dbo].[Agent] CHECK CONSTRAINT [FK_Agent_Role]
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD  CONSTRAINT [FK_Manager_Role] FOREIGN KEY([IDRole])
REFERENCES [dbo].[Role] ([Code])
GO
ALTER TABLE [dbo].[Manager] CHECK CONSTRAINT [FK_Manager_Role]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_MaterialsType] FOREIGN KEY([IDMaterialsType])
REFERENCES [dbo].[MaterialsType] ([ID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_MaterialsType]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Unit] FOREIGN KEY([IDUnit])
REFERENCES [dbo].[Unit] ([ID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Unit]
GO
ALTER TABLE [dbo].[MaterialsSupplier]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsSupplier_Materials] FOREIGN KEY([IDMaterials])
REFERENCES [dbo].[Materials] ([ID])
GO
ALTER TABLE [dbo].[MaterialsSupplier] CHECK CONSTRAINT [FK_MaterialsSupplier_Materials]
GO
ALTER TABLE [dbo].[MaterialsSupplier]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsSupplier_Supplier] FOREIGN KEY([IDSupplier])
REFERENCES [dbo].[Supplier] ([ID])
GO
ALTER TABLE [dbo].[MaterialsSupplier] CHECK CONSTRAINT [FK_MaterialsSupplier_Supplier]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_SupplierType] FOREIGN KEY([IDSupplierType])
REFERENCES [dbo].[SupplierType] ([ID])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_SupplierType]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IDRole])
REFERENCES [dbo].[Role] ([Code])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
